* {
    margin: 0;
    padding: 0;
}
.wrapper_header_logo {
    width: 100%;
    height: 50px;
    background-color: #f5f5dc;
}
.header_logo {
    display: flex;
    flex-direction: row;
    padding: 12px 42px 12px;
}
.header_logo img {
    width: 20px;
    height: 20px;
}
.header_logo img:last-child {
   padding-left: 5px;
}
.wrapper_main_header {
    width: 100%;
    height: 200px;
    background-color: saddlebrown;
}
.main_header {
    display: grid;
    grid-template-columns: 300px 1fr;
}
.main_header_logo img {
    width: 290px;
    height: 180px;
}
.main_header_logo {
    padding: 12px 28px;
}
.main_header_menu ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}
.main_header_menu {
    padding-top: 70px;
}
li {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}
.wrapper_main {
    width: 100%;
    height: 566px;
    background-color: burlywood;
}
.main p {
    text-align: center;
}
.main {
    padding-top: 155px;
}